@page
@model crmEmpresa.Pages.Clientes.IndexModel
@{
}

<link rel="stylesheet" href="~/css/ClientesIndex.css">

<div class="content-wrapper">
    <a href="~/Clientes/Create" class="add-client-link">Agregar Cliente</a>

    <form method="get" class="search-form">
        <select name="searchField" class="form-control">
            <option value="Todos" selected>Ver Todos</option>
            <option value="Nombre">Nombre</option>
            <option value="Apellido">Apellido</option>
            <option value="Correo">Correo</option>
            <option value="Telefono">Teléfono</option>
        </select>
        <input type="text" name="searchTerm" placeholder="Buscar..." class="form-control" value="@Model.SearchTerm" />
        <button type="submit" class="btn btn-secondary">Buscar</button>
    </form>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Nombre/s</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model.Clientes)
            {
                <tr>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido</td>
                    <td>@cliente.Correo</td>
                    <td>@cliente.Telefono</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@cliente.Id" class="btn btn-warning btn-lg">Editar</a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@cliente.Id" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}